.logo {
  background-image: url(../statics/Logo.png);
  width: 250px;
  height: 250px;
  background-size: cover;
}

.submit-button {
  background: #8A1AAA;
}

.theme-text {
  color: #633970;
}



/*
Palette: #633970
Theme: #8A1AAA
Hover: #B406E6
focus: #DD67FF

*/